body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
